<div class="container">
    <div id="<%= dom_id active %>">
      <p>
        <strong>Serial:</strong>
        <%= active.serial %>
      </p>
      <p>
        <strong>Placa del activo:</strong>
        <%= active.plate %>
      </p>
      <p>
        <strong>Nombre del activo:</strong>
        <%= active.name %>
      </p>
      <p>
        <strong>Padre(1) o hijo(2)?: </strong>
        <%= active.rankactive_id %>
      </p>
      <p>
        <strong> Responsable: </strong>
        <%= active.user_id %>
      </p>
      <p>
      <strong>Destinos:</strong>
      <%= active.destination_id %>
    </p>
    <p>
      <strong>Ubicación: </strong>
      <%= active.ubication_id %>
    </p>
    </div>
</div>