<div class="container">
    <div id="<%= dom_id active %>">
      <p>
        <strong>Placa de activo:</strong>
        <%= active.id %>
      </p>
    
      <p>
        <strong>Código de barras:</strong>
        <%= active.barcode %>
      </p>
    <p>
        <strong>Serial:</strong>
        <%= active.serial %>
      </p>
      <p>
        <strong>Nombre del activo:</strong>
        <%= active.name %>
      </p>
      <p>
      <strong>Destinos:</strong>
      <%= active.destination_id %>
    </p>
    <p>
    <strong>Ubicacion:</strong>
      <%= active.ubication_id %>
    </p>
    </div>
</div>