<div class="container">
          <table class="table  table-striped table-hover text-dark">
                  <tr class="">
                    <th>SERIAL</th>
                    <td><%= active.serial %></td>
                  </tr>
                  <tr>
                    <th>PLACA</th>
                    <td><%= active.plate %></td>
                  </tr>
                  <tr>
                    <th>PLACA DEL PADRE</th>
                    <% if active.rankactive_id == 8 %>
                      <% parent_active = Active.find_by(rankactive_id: 7) %>
                      <% if parent_active %>
                        <% active.dad = parent_active.plate %>
                        <td><%= link_to " ", parent_active, :class=>"fa-solid fa-magnifying-glass text-dark btn", title: "ver datos del padre" %></td>
                      <% else %>
                        ...
                      <% end %>
                    <% else %>
                      <td>No tiene padre</td>
                    <% end %>
                  </tr>
                  <tr>
                    <th>TIPO DE ACTIVO</th>
                    <td><% a=ActiveType.find(active.active_type_id) %>
                              <%= a.description %></td>
                  </tr>
                  <tr>
                    <th>NOMBRE DEL ACTIVO</th>
                    <td><%= active.name %></td>
                  </tr>
                  <tr>
                    <th>CÉDULA DEL RESPONSABLE</th>
                    <td><%= active.user_id %></td>
                  </tr>
                  <tr>
                    <th>NOMBRE DEL RESPONSABLE</th>
                    <td><% a=User.find(active.user_id) %>
                              <%= a.name %></td>
                  </tr>
                  <tr>
                    <th>ESTADO</th>
                    <td><%= active.status %></td>
                  </tr>
                  <tr>
                    <th>JERARQUIA</th>
                    <td><% a=Rankactive.find(active.rankactive_id) %>
                              <%= a.name %></td>
                  </tr>
                  <tr>
                    <th>DESTINOS</th>
                    <td><% a=Destination.find(active.destination_id) %>
                              <%= a.description %></td>
                  </tr>
                  <tr>
                    <th>UBICACIÓN</th>
                    <td><% a=Ubication.find(active.ubication_id) %>
                              <%= a.name %></td>
                  </tr>
          </table>
</div>

