<%= form_with(model: active) do |form| %>
  <% if active.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(active.errors.count, "error") %> prohibited this active from being saved:</h2>

      <ul>
        <% active.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--Se agrega campo para asignarle manualmente el ID a cada registro-->
<div class="container form-control bg-card-personal">
    <div class="row">
  <div class="col align-self-center">
          <div class="mb-3">
            <%= form.label "Placa del activo", :class=>"form-label fw-bolder ", style: "display: block" %>
            <%= form.text_field :plate, :class=>"form-control border border-info rounded-2" %>
          </div>
          <div class="mb-3">
              <%= form.label "Código de barras del activo", :class=>"form-label fw-bolder ", style: "display: block" %>
              <%= form.text_field :barcode, :class=>"form-control border border-info rounded-2" %>
          </div>
        <div class="mb-3">
          <div class="form-group">
              <label class="control-label col-sm-6">Estado? </label><br>
              <%= form.select :status, [["Activo", true], ["Inactivo", false]], {} %>
          </div>
          <div class ="mb-3">
          <div class="form-group">
            <label class="control-label col-sm-6">Tipo de activo </label>
            <%= form.select :active_type_id, options_from_collection_for_select(ActiveType.all, :id, :description) %>
             <label class="control-label col-sm-6">Es padre o hijo?: </label><br>
            <%= form.select :rankactive_id, options_from_collection_for_select(Rankactive.all, :id, :name) %>
          </div>
          </div>
        </div>
        
        </div>
      
        <div class="col align-self-center">
          <div class="mb-3">
            <%= form.label "Nombre del activo", :class=>"form-label fw-bolder ", style: "display: block" %>
            <%= form.text_field :name, :class=>"form-control border border-info rounded-2" %>
          </div>
          <div class="mb-3">
            <%= form.label "Serial del activo", :class=>"form-label fw-bolder ", style: "display: block" %>
            <%= form.text_field :serial, :class=>"form-control border border-info rounded-2" %>
          </div>  
  
            
          
        <div class="mb-3">
         <div class="form-group">
            <label class="control-label col-sm-6">Selecciona el centro de costo: </label>
              <%= collection_select( :active, :ubication_id, @centers, :id, :name, { prompt: true }) %>       
          </div>
          <div class="form-group">
          
            <label class="control-label col-sm-6">Seleccione un Destino: </label>
            <% @destinations = Destination.where(center_id: params[:center_id]) %>
            <%= collection_select( :active, :destination_id, @destination, :id, :description, { prompt: true }) %>

          </div>
          <div class="form-group">
            <label class="control-label col-sm-6">Ubicación: </label>
            <%= collection_select( :active, :ubication_id, Ubication.all, :id, :name, { prompt: true }) %>
          </div>

        <div class="form-group">
            <label class="control-label col-sm-6">Responsable</label>
            <%= form.select :user_id, options_from_collection_for_select(User.all, :id, :name) %>
        </div>
      </div>
      </div>
    </div>
    <i class= "separar d-flex bi">
          <span class="">
            <%= button_tag(:type => 'submit', :title=>'Actualiza los datos', :class => 'bi bi-arrow-counterclockwise text-dark btn') do %>
              <i class="icon-up-arrow icon-white"></i>
            <% end %>
            
        </span>
          <%= link_to "", actives_path, :class=>"bi bi-skip-backward-btn-fill text-dark btn", :title=>'Retornar a los activos' %>
        </i>
         </div>
 </div>
 </div>
 <% end %>
