<%= form_with model: @active, remote: true do |form| %>
<% if active.errors.any? %>
  <% flash[:error] = "Han ocurrido un total de: #{pluralize(active.errors.count, "error(es)")}, en la creación del activo:" %>
    <% active.errors.full_messages.each do |message| %>
      <% flash[:error] << message %>
    <% end %>
<% end %>
<div class="container">
  <!--Se agrega campo para asignarle manualmente el ID a cada registro-->
<div class="form-control bg-card-personal">
    <div class="row row-cols-3">
      <div class="col">
              
                        
              <div class="mb-3">
                <div class="form-group">
                  <%= form.label "Código de barras del activo", :class=>"form-label ", style: "display: block" %>
                  <%= form.text_field :barcode, :class=>"form-control border border-info rounded-2 open-modal-button" %>
                  <%= render 'shared/modal' %>
                </div>
              </div>
              <div class="mb-3">
              <div class="form-group">
                <%= form.label "Nombre del activo", :class=>"form-label  ", style: "display: block" %>
                <%= form.text_field :name, :class=>"form-control border border-info rounded-2" %>
              </div>
              </div>
              <div class="mb-3">
              <div class="form-group">
                <%= form.label "Serial del activo", :class=>"form-label  ", style: "display: block" %>
                <%= form.text_field :serial, :class=>"form-control border border-info rounded-2" %>
              </div>
              </div> 
              <div class ="mb-3">
                <div class="form-group">
                  <label class="form-label">Tipo de activo </label>
                  <%= form.select :active_type_id, options_from_collection_for_select(ActiveType.all, :id, :description),{}, {class: "form-control border border-info rounded-2"} %>
                </div>
              </div>

        </div>
      </div>
      <div class="col">
        <div class="">
          <div class="form-group">
              <label class="form-label">Estado? </label>
              <%= form.select :status, [["Activo", true], ["Inactivo", false]], {}, {class: "form-control border border-info rounded-2"} %>
          </div>
        </div>
          
        <div class ="mb-3">
          <div class="form-group">  
             <label class="form-label">Es padre o hijo?: </label>
             <% @rankactives = Rankactive.all %>
            <%= form.select :rankactive_id, [['Selecciona si es padre o hijo', nil]] + @rankactives.collect {|rankactive| [rankactive.name, rankactive.id]},{}, {class: "form-control border border-info rounded-2", id: "rankactive_select"} %>
          </div>
        </div>
        <script>
          $(document).ready(function(){
            $("#rankactive_select").change(function(){
               if(($(this).find(':selected').text() == "HIJO")){
                  $("#dad_input").prop("disabled", false);
                }else{
                  $("#dad_input").prop("disabled", true);
                }
              });
          })
        </script>
        <div class ="mb-3">
            <div class="form-group">  
              <label class="form-label">Padre </label>
                <%= form.number_field :dad, :class=>"form-control border border-info rounded-2 open-modal-button3", id: "dad_input" %>
                  <%= render 'shared/modalpadre' %>
            </div>
        </div>

        <div class ="">
          <div class="form-group">
            <label class="form-label">Responsable</label>
            <%= form.select :user_id, options_from_collection_for_select(User.all, :id, :name),{}, {class: "form-control border border-info rounded-2"} %>
          </div>
        </div>
      </div>
      </div>
      
        <div class="col">

          
              <div class="mb-3">
                <div id="centers">
                    <%= form.label "Centros de costo:", :class=>"form-label  ", style: "display: block" %>
                    <%= form.select :center, [['Escoja el centro de costo', nil]] + @centers.collect {|center| [center.name, center.id]},{}, {class: "form-control border border-info rounded-2"} %>
                </div>
              </div>
              <div class="mb-3">  
                <%= form.label "Destinos", :class=>"form-label", style: "display: block" %>
                <div id="destinations">
                
                </div>
              </div>
          
              <script type="text/javascript">
              
                $(document).ready(function() {
                  $('#active_center.form-control').on('change', function() {
                    $.ajax({
                      url:  "<%= actives_options_path %>",
                      type: "POST",
                      data: { center_id: $(this).val() },
                      success: function(data){
                        $('#active_destination_id.form-control').on('change', function() {
                            $.ajax({
                              url:  "<%= actives_optionss_path %>",
                              type: "POST",
                              data: { destination_id: $(this).val() },
                            });
                      });
                      }
                    });
                  });
                });
              </script>

            <div class="mb-3">
              <label class="form-label ">Definir ubicacion:</label>
                <div id="ubications">
                </div>           
            </div>
        
      </div>
      </div>
    <i class= "separar d-flex bi">
      <span class="">
        <%= button_tag(:type => 'submit', :title=>'Actualiza los datos', :class => 'bi bi-arrow-counterclockwise text-dark btn') do %>
        <% end %>
          
      </span>
        <%= link_to "", actives_path, :class=>"bi bi-skip-backward-btn-fill text-dark btn", :title=>'Retornar a las zonas' %>
    </i>
    </div>
  </div>

         </div>
 </div>
 </div>
 <% end %>
 </div>
