<% if flash[:notice] %>
    <div class="alert alert-success" role="alert" id="notice" class="notice">
        <%= flash[:notice] %>                                    
    </div>
<% end %>

<!--Se agrega personalizacion con boostrap para visualizacion de las vistas de zonas -->
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->



  <nav class="navbar navsep navbar-expand-sm navbar-rednav bg-rednav rounded">
    <div class="container-fluid">
      <div class="navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
          <i>
           <% if can? :create, Active %>
            <%= link_to " Nueva activo", new_active_path, :class=>"nav-item nav-link bi bi-plus-square-dotted" %>
          <% end %>
          </i>
          </li>
        </ul>
        <form class="d-flex">
            <%= form_with url: actives_path, method: :get do |form| %>
              <%= form.text_field :query_text, placeholder: "Busca el activo", onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
              <button class="btn btn-secondary" type="button">Buscar</button>
            <% end %>
        </form>
      </div>
    </div>
  </nav>

  
  <div class="row">
      <div class="col-md-8">
        <div class="tzona">
            <h3>De baja</h3>
        </div>
            <table class="table  table-striped table-hover">
                  <tr class="text-dark">
                    <th>PLACA DE ACTIVO</th>
                    <th>C. DE COSTO</th>
                    <th>NOMBRE</th>
                    <th>RESPONSABLE</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
                  </tr>
                      <div id="actives">
                        <% @actives.each do |active| %>
                        <% if active.status == false %>
                          <tr>
                            <td>
                              <%= active.plate %>
                            </td>
                            <td>
                              <% a=Destination.find(active.destination_id) %>
                              <% b=Center.find(a.center_id) %>
                              <%= b.name %>
                            </td>
                            <td>
                              <%= active.name %>
                            </td>
                            <td>
                              <% a=User.find(active.user_id) %>
                              <%= a.name %>
                            </td>
                            <td>
                              <%= active.status %>
                            
                              
                            </td>
                            <td>
                              <i class="separar">
                              
                                <%= link_to "", active, :class=>"bi bi-eye-fill text-dark btn" %>
                                <% if can? :edit, Active %>
                                <%= link_to "", edit_active_path(active), :title=>"Editar", :class=>" bi bi-pencil-fill text-dark btn" %>
                                <% end %>
                              </i>
                            </td> 
                          </tr>
                        <% end %>

                        <% end %>
                      </div>
            </table> 
      </div>
  </div>
</div>
</div>