<p style="color: green"><%= notice %></p>


<div class ="container tam-card-personal">
  <div class="row">
      <div class="col md-8">
  <div class="bg-card-personal card  text-white">
    <div class="card-body ">
      <h2 class="card-title"></h2>
      <div class="row">
        <%
=begin%>
 <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div> 
<%
=end%>
          <div class="col text-dark">
            <h3 class="card-title "> DATOS DEL ACTIVO</h3>
            <p class="text-center"><%= render @active %></p>
              <i>
                <ul class="separar d-flex">
                  <li><%= button_to "", @active, method: :delete, :title=>"Eliminar", :class=>"bi bi-trash btn" %></li>
                  <li><%= link_to "", edit_active_path(@active), :title=>"Editar", :class=>" bi bi-pencil-fill btn" %></li>
                  <li><%= link_to "", actives_path, :title=>"Regresar a zonas", :class=>" bi bi-skip-backward-fill btn" %></li>
                </ul>
              </i>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

      </div>
  </div>
</div>
