<%= form_with(model: ubication) do |form| %>
  <% if ubication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ubication.errors.count, "error") %> prohibieron guardar la ubicación:</h2>

      <ul>
        <% ubication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <!--Se agrega campo para asignarle manualmente el ID a cada registro-->
<div class="container  bg-card-personal w-75">
  <div class="col align-self-center">
    <%= form.label "Id de ubicación", :class=>"form-label fw-bolder mt-2", style: "display: block" %>
    <%= form.text_field :id, :class=>"form-control border border-info rounded-2" %>
  </div>
  <div class="mb-3">
    <%= form.label "Nombre ubicación", :class=>"form-label fw-bolder mt-2", style: "display: block" %>
    <%= form.text_field :name, :class=>"form-control border border-info rounded-2" %>
  </div>
  <label class="control-label col-sm-6">Seleccione un Destino: </label>
  <%= collection_select( :ubication, :destination_id, Destination.all, :id, :description, { prompt: true }, {class: "form-control border border-info rounded-2"}) %>


  <div>
    <i class= "separar d-flex bi">
      <span class="">
        <%= button_tag(:type => 'submit', :title=>'Actualiza los datos', :class => 'bi bi-arrow-counterclockwise text-dark btn') do %>
          <i class="icon-up-arrow icon-white"></i>
        <% end %>         
      </span> 
        <%= link_to "", ubications_path, :class=>"bi bi-skip-backward-btn-fill text-dark btn", :title=>'Retornar a las zonas' %>
    </i>
  </div>
<% end %>
