<div class ="container">
  <div class="row">
      <div class="col-md-8">
        <div class="tzona">
            <h1>NUEVA UBICACIÓN</h1>
        </div>
      </div>
  </div>
</div>          
<div class ="container">
  <div class="card card-dark text-white" style="width:100%">
    <div class="card-body">
      <h2 class="card-title"></h2>
      <div class="row">
        <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div>
          <div class="col text-dark">
            <h4 class="card-title">DATOS DE LA UBICACIÓN</h4>
                <div class="centrarcard"><%= render "form", ubication: @ubication %></div>
            </div>
          </div>
        </div>
      </div> 
          
    </div>

  </div>
</div>

<div class ="container">
  <div class="row">
      <div class="col-md-8">
        <div class="tzona">
            <h4>IMPORTE MASIVO</h4>
        </div>
      </div>
  </div>
</div>                    

<div class ="container">
  <div class="card card-dark text-white" style="width:100%">
    <div class="card-body">
      <h2 class="card-title"></h2>
      <div class="row">
          <div class="col text-dark">
                <div class="centrarcard">
                <%= form_with url: import_ubications_path, method: :post do |form| %>
                        <%= form.file_field :file, accept: ".csv", class: "bi bi-skip-backward-btn-fill btn" %>
                        
                        <%= form.button "", title:"Importar solo .csv", class: "fa-solid fa-file-import btn" %>
                <% end %>
                </div>
            </div>
          </div>
        </div>
      </div> 
          
    </div>

  </div>
</div>
          
  
   