<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container form-control bg-card-personal">
  <div class="col align-self-center">
  <div class="mb-3">
    <div class="form-group">
      <%= form.label "Correo electrónico", :class=>"form-label", style: "display: block" %>
      <%= form.text_field :email, class: "border border-info rounded-2" %>
    </div>
  </div>
  <div class="mb-3">
    <div class="form-group">
      <%= form.label "Nombre", :class=>"form-label", style: "display: block" %>
      <%= form.text_field :name, class: "border border-info rounded-2" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-group">
      <%= form.label "Rol Seleccionado", :class=>"form-label", style: "display: block" %>
      <%= collection_select( :user, :role_id, Role.all, :id, :name, { prompt: true }) %>
    </div>
  </div>
  
  <div class="mb-3">
    <div class="form-group">
    <%= form.label "Contraseña", :class=>"form-label"%><br>
    <%= form.password_field :password, placeholder: "Mínimo 6 caracteres", class: "border border-info rounded-2" %>
    </div>
  </div>
  <i class= "separar d-flex bi">
      <span class="">
        <%= button_tag(:type => 'submit', :title=>'Actualiza los datos', :class => 'bi bi-arrow-counterclockwise btn') do %>
          <i class="icon-up-arrow icon-white"></i>
        <% end %>
          
      </span>
      <%= link_to "", users_path, :class=>"bi bi-skip-backward-btn-fill btn", :title=>'Retornar a los usuarios' %>
    </i>
  </div>
<% end %>
</div>
</div>

