
  <nav>
    <div class="nav nav-tabs " id="nav-tab" role="tablist">
      <button class="nav-link text-dark border-dark active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Datos</button>
      <button class="nav-link text-dark border-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Activos asociados</button>
      <% if can? :edit, Active %><button class="nav-link text-dark border-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Traslados</button><% end %>
    </div>
  </nav>
  <div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      
      <div id="<%= dom_id user %>">
          <table class="table  table-striped table-hover text-dark">
                  <tr>
                    <th scope="col">Correo:</th>
                    <td scope="col"><%= user.email %></td>
                  </tr>
                  <tr>
                    <th scope="row">Cédula</th>
                    <td scope="col"><%= user.id %></td>
                  </tr>
                  <tr>
                    <th>Nombre:</th>
                    <td><%= user.name %></td>
                  </tr>
                  <tr>
                    <th>Rol</th>
                    <td><%= user.role.name %></td>
                  </tr>
                  <tr>
                    <th>Registrado desde:</th>
                    <td><%= @joined_on %></td>
                  </tr>
          </table>
      </div>
    </div>
  
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <h4>Activos asociados a <%= @user.name %></h4>
      <form class="" role="search" data-toggle="tooltip" title="Buscar activo asociado">
          <div class="form-group">
              <input class="form-control" id="myInput" type="text" placeholder="Buscar activo asociado">
          </div>
      </form>


  <div class="actives table table-striped table-hover text-dark" id="myDIV">
                <% @actives.each do |active| %>
                <%= link_to active do %>
                <div class="active clearfix" id="clearf" data-toggle="tooltip" title="Clic para mas información de este punto de venta">
                    <div class="active-details">
                        <span class="active-nombre"><b> COD:</b><%= active.plate %>,<b> NOMBRE:</b> <%= active.name %>, Estado: <% %> </span>
                    </div>
                </div>
                <% end %>
                <% end %>
  </div>
      <script>
        
        $("#myInput.form-control").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myDIV *").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      
      </script>

    <% if can? :edit, Active %>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    <% end %>
  </div>




