<div id="<%= dom_id user %>">

  <p>
    <strong>Correo:</strong>
    <%= user.email %>
  </p>
    <p>
  <strong>Cedula:</strong>
    <%= user.id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Rol</strong>
    <%= user.role.name %>
  </p>

</div>
