<p style="color: green"><%= notice %></p>

<div class ="container tam-card-personal">
  <div class="row">
      <div class="col md-8">
  <div class="bg-card-personal card  text-white">
    <div class="card-body ">
      <h2 class="card-title"></h2>
      <div class="row">
        <%
=begin%>
 <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div> 
<%
=end%>
          <div class="col text-dark">
            <h3 class="card-title "> Datos de <%= @user.name %></h3>
            <p class="text-center">A continuación encontraras los datos de el perfil, tus activos asociados y los traslados </p>
                <div class=""><%= render @user %>
                
                <ul class="separar d-flex">
                  <li><%= button_to "", @user, method: :delete, :title=>"Eliminar", :class=>"bi bi-trash btn" %></li>
                  <li><%= link_to "", edit_user_path(@user), :title=>"Editar", :class=>" bi bi-pencil-fill btn" %></li>
                  <li><%= link_to "", users_path, :title=>"Regresar a lista de usuarios", :class=>" bi bi-skip-backward-fill btn" %></li>
                </ul>
                </div>

           
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

      </div>
  </div>
</div>
