<div class ="container tam-card-personal">
  <div class="row">
      <div class="col md-8">
  <div class="bg-card-personal card  text-white">
    <div class="card-body ">
      <h2 class="card-title"></h2>
      <div class="row">
        <%
=begin%>a
 <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div> 
<%
=end%>
          <div class="col text-dark">
            <h3 class="card-title "> REGISTRAR NUEVO CENTRO DE COSTO</h3>
            <p class="text-center">A continuación digita los datos del centro de costo que deseas crear.</p>
                <div class="centrarcard"><%= render "form", center: @center %></div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

      </div>
  </div>
</div>

<div class =" mt-3 container tam-card-personal">
  <div class="row">
      <div class="col md-8">
  <div class="bg-card-personal card  text-white">
    <div class="card-body ">
      <h2 class="card-title"></h2>
      <div class="row">
        <%
=begin%>
 <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div> 
<%
=end%>
          <div class="col text-dark">
            <h5 class="card-title ">REGISTRO MASIVO DE CENTROS DE COSTO</h5>
            <p class="text-center">Escoja un archivo en formato .CSV para la creación masiva de Centros de costo</p>
               
            </div>
          </div>
            <div class ="text-center text-dark">
              <%= form_with url: import_centers_path, method: :post do |form| %>
                <div class ="input-group">
                  <%= form.file_field :file, class:"form-control border border-info", accept: ".csv" %>
                  <%= form.button "", class:" btn btn-outline-secondary border border-info fa-solid fa-file-import", title:"Importar" %>
                </div>
              <% end %>
            </div>
        </div>
      </div>  
    </div>
  </div>

      </div>
  </div>
</div>        
