<%= form_with(model: relocation) do |form| %>
  <% if relocation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(relocation.errors.count, "error") %> prohibited this relocation from being saved:</h2>

      <ul>
        <% relocation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date_solicited, style: "display: block" %>
    <%= form.datetime_field :date_solicited %>
  </div>

  <div>
    <%= form.label :date_accept, style: "display: block" %>
    <%= form.datetime_field :date_accept %>
  </div>

  <div>
    <%= form.label :_, style: "display: block" %>
    <%= form.text_field :_ %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
