<p style="color: green"><%= notice %></p>

<%= render @relocation %>

<div>
  <%= link_to "Edit this relocation", edit_relocation_path(@relocation) %> |
  <%= link_to "Back to relocations", relocations_path %>

  <%= button_to "Destroy this relocation", @relocation, method: :delete %>
</div>
