<div class ="container w-60">

  <div class="row container fluid">
      <div class="col container">
  <div class="bg-card-personal card  text-white container">
    <div class="card-body container">
      <h2 class="card-title container"></h2>
      <div class="row">
        <%
=begin%>
 <div class="logo col-auto"><%= image_tag("record.png", :class => "", :width => "200px") %></div> 
<%
=end%>
          <div class="col text-dark container">
            <h3 class="card-title "> INICIAR SESIÓN</h3>
            <p class="text-center">A continuación digita los datos para iniciar sesión.</p>
                
                <div class=" bg-card-personal container">
                  <div class="col container">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo:false }) do |f|  %>
                  <% if flash[:notice] %>
                      <div class="alert alert-success" role="alert" id="notice" class="notice">
                          <%= flash[:notice] %>                                    
                      </div>
                  <% end %>
                    <%= f.label "Correo electrónico", :class=>"form-label fw-bolder text-start" %>
                    <div class="input-group mb-3">
                      <span class="input-group-text bg-card-personal"><i class=" bg-card-personal fa-solid fa-envelope"></i></span>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo electrónico", class: "form-control border border-info rounded-2" %>
                    </div>
                    <%= f.label "Contraseña", :class=>"form-label fw-bolder mt-2" %>
                    <div class="input-group mb-3">
                      <span class="input-group-text bg-card-personal"><i class=" bg-card-personal fa-solid fa-key"></i></span>
                      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña", class: "form-control border border-info rounded-2" %>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class="centrarcard mt-2">
                        <%= f.check_box :remember_me, class: " bg-card-personal border border-info rounded-2"  %>
                        <%= f.label "¿quieres que te recuerde?", :class=>"form-label fw-bolder mt-2" %>
                      </div>
                    <% end %>

                    <div class="centrarcard p-3">
                      <%= f.submit "Iniciar Sesión", :class=>" btn bg-rednav ", data: { turbo_false: true } %>
                    </div>
                  <% end %> 
                  </div> 
                </div>
            
          </div>
        </div>
      </div>  
    </div>
  </div>

      </div>
  </div>
</div>
