
<div class="col-lg-6 mx-lg-auto">
  <div class="card shadow">
    <div class="card-header bg-rednav">
      <h2 class="card-title text-center text-white">Iniciar Sesi칩n</h2>
    </div>
        <div class="card-body text-center ">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "Correo Electr칩nico" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "Contrase침a" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Quieres que te recuerde" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Iniciar Sesi칩n", :class=>"btn bg-rednav" %>
  </div>
<% end %>
        </div>
    </div>
</div>
