<p style="color: green"><%= notice %></p>

<!--Se agrega personalizacion con boostrap para visualizacion de las vistas de zonas -->
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <%= link_to "Nueva Zona", new_zone_path %>
  <div class="row">
      <div class="col-md-8">
      <div class="tzona">
          <h1>ZONAS</h1>
      </div>
   <table class="table table-dark table-hover">
    <tr>
      <th>CODIGO</th>
      <th>NOMBRE</th>
      <th class="acciones">ACCIONES</th>
    </tr>
  <div id="zones">
  <% @zones.each do |zone| %>
    <tr>
      <td><%= zone.id %></td>
      <td><%= zone.description %></td>
      <td>
         <div class="centrar"><i><%= link_to " ", zone, :class => " btn btn-danger bi bi-eye-fill" %></i> </div>
    </tr>
    <!--Se elimina la siguiente etiqueta a fin de que no se visualice todo el hash que contiene el modelo zone-->    
    <!--<#%= render zone %>-->
  <% end %>
  </div>
 </table> 
 </div>
 </div>


