<p style="color: green"><%= notice %></p>

<h1>ZONAS</h1>

<table>
  <tr>
    <th>CODIGO</th>
    <th>NOMBRE</th>
    <th>ACCIONES</th>
  </tr>
  <div id="zones">
  <% @zones.each do |zone| %>
    <tr>
      <td><%= zone.id %></td>
      <td><%= zone.description %></td>
      <td><%= link_to "Mostrar esta Zona", zone %>
    </tr>    
    <!--<%= render zone %>-->
  <% end %>
  </div>
 </table> 
 <%= link_to "Nueva Zona", new_zone_path %>


