<p style="color: green"><%= notice %></p>

<!--Se agrega personalizacion con boostrap para visualizacion de las vistas de zonas -->
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->



  <nav class="navbar navbar-expand-sm navbar-rednav bg-rednav rounded">
  <div class="container-fluid">
    <div class="navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        <i>
          <%= link_to " Nueva Zona", new_zone_path, :class=>"nav-item nav-link bi bi-plus-square-dotted" %>
        </i>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="zona">
        <button class="btn btn-primary" type="button">Buscar</button>
      </form>
    </div>
  </div>
</nav>

  
  <div class="row">
      <div class="col-md-8">
      <div class="tzona">
          <h1>ZONAS</h1>
      </div>
   <table class="acciones table table-dark table-hover">
    <tr>
      <th>CODIGO</th>
      <th>NOMBRE</th>
      <th class="acciones">ACCIONES</th>
    </tr>
  <div id="zones">
  <% @zones.each do |zone| %>
    <tr>
      <td>
       <%= zone.id%>
      </td>
      <td>
       <%= zone.description %>
      </td>
      <td>
         <i>
         <%= link_to " ", zone, :class => " acciones btn btn-danger bi bi-eye-fill " %>
         </i> 
    </tr>
  <% end %>
  </div>
 </table> 
 </div>
 </div>


