<p style="color: green"><%= notice %></p>

<!--Se agrega personalizacion con boostrap para visualizacion de las vistas de zonas -->
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
      <div class="col-md-8">
      <div class="tzona">
          <h1>ZONAS</h1>
      </div>
   <table class="table table-dark table-hover">
    <tr>
      <th>CODIGO</th>
      <th>NOMBRE</th>
      <th class="acciones">ACCIONES</th>
    </tr>
  <div id="zones">
  <% @zones.each do |zone| %>
    <tr>
      <td><%= zone.id %></td>
      <td><%= zone.description %></td>
      <td><%= link_to "Mostrar esta Zona", zone %> <%= button_to "Destroy this zone", @zone, method: :delete %>
    </tr>
    <!--Se elimina la siguiente etiqueta a fin de que no se visualice todo el hash que contiene el modelo zone-->    
    <!--<#%= render zone %>-->
  <% end %>
  </div>
 </table> 
<%= link_to "Nueva Zona", new_zone_path %>
 </div>
 </div>


