<p style="color: green"><%= notice %></p>

<div class ="container">
<div class="card bg-dark text-white" style="width:100%">
<div class="card-body">
  <h4 class="card-title">información de la zona</h4>
  <%= image_tag("record.png", :class => "", :width => "300px") %>
  <p class="card-text"><%= render @zone %></p>
  <i>
  <%= button_to " ", @zone, method: :delete, :class=>"bi bi-trash btn btn-success" %>|
  <%= link_to " ", edit_zone_path(@zone), :class=>" bi bi-pencil-fill btn btn-success" %> |
  <%= link_to " ", zones_path, :class=>" bi bi-skip-backward-fill btn btn-success" %>
  </i>
</div>

</div>  


<div>
 

  
</div>
</div>