<%= form_with(model: destination) do |form| %>
  <% if destination.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(destination.errors.count, "error") %> prohibited this center from being saved:</h2>

    <ul>
      <% destination.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--Se agrega campo para asignarle manualmente el ID a cada registro-->
<div class="container form-control bg-card-personal">
  <div class="col align-self-center">
  <%= form.label "Identificador de destino", :class=>"form-label", style: "display: block" %>
  <%= form.text_field :id, :class=>"form-control border border-info rounded-2" %>
  </div>
<div class="mb-3">
  <%= form.label "Nombre del destino", :class=>"form-label", style: "display: block" %>
  <%= form.text_field :description, :class=>"form-control border border-info rounded-2" %>
</div>
  <div class="mb-3">
  <div class="form-group ">
      <label class="form-label">Seleccione un centro de costo: </label>
      <div class= "input-group mb-3 justify-content-center">
        <%= form.select :center_id, options_from_collection_for_select(Center.all, :id, :name) %>
      </div>
    </div>
  </div>
<div>
  <i class= "separar d-flex bi">
    <span class="">
      <%= button_tag(:type => 'submit', :title=>'Actualiza los datos', :class => 'bi bi-arrow-counterclockwise text-dark btn') do %>
        <i class="icon-up-arrow icon-white"></i>
      <% end %>
        
    </span>
      <%= link_to "", destinations_path, :class=>"bi bi-skip-backward-btn-fill text-dark btn", :title=>'Retornar a las zonas' %>
  </i>
</div>
<% end %>
</div>
</div>
